*.zip filter=lfs diff=lfs merge=lfs -text
Data/Goodreads_Books/genres_top100/fiction.parquet filter=lfs diff=lfs merge=lfs -text
Data/Goodreads_Books/genres_top100/nonfiction.parquet filter=lfs diff=lfs merge=lfs -text
